/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  color: #1a1a1a;
}

.menu-burger {
  display: none;
}

nav {
  display: flex;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  overflow: hidden;
  background-color: #fff;
}

nav > div > ul {
  display: flex;
}

nav > div > ul > li {
  list-style: none;
  padding-right: 2em;
  font-size: 1.5rem;
}

nav > div > img {
  height: 4em;
  padding: 0.75em 0 0 0.75em;
}

.hero-image {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-image > p {
  color: #fff;
  font-size: 2rem;
}

.hero-image h1,
.hero-image p {
  padding: 0;
  font-weight: 300;
  margin: 1%;
  text-align: center;
  text-justify: inter-cluster;
}
.hero-image > h1 {
  color: #fff;
  font-weight: 500;
  font-size: 5rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section > h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 7%;
  border-bottom: #00b172 solid 0.1em;
}

.on-spotify {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
}

.on-spotify > div > p {
  font-size: 200%;
  font-weight: 200;
}

.on-spotify > div {
  width: 25rem;
  padding: 5rem;
}

.on-spotify > div > img {
  width: 50%;
}

.on-spotify > div > h3 {
  color: #00b172;
  font-size: 200%;
}

hr.line {
  border: #00b172 0.2rem solid;
  width: 22%;
}

.spotify-card {
  background-image: url("../images/spotify-icon-white.png");
  background-position: 50%;
  background-size: 10%;
  background-repeat: no-repeat;
  background-color: #00b172;
  height: 120vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 3% 3%;
  padding: 3% 7%;
}

.spotify-card > h2 {
  width: 44%;
  text-align: center;
  color: white;
  font-size: 3em;
  border-bottom: white solid 0.1em;
  padding-bottom: 1%;
}

.spotify-card > img {
  padding: 10% 25%;
  width: 30%;
  height: auto;
}

.options {
  font-size: 2em;
  width: 35%;
  color: #fff;
}

@media screen and (width < 768px) {
  .menu > ul {
    display: none;
  }

  .spotify-card > h2 {
    color: #1a1a1a;
    width: 80%;
    font-size: 2.5em;
    border-color: #1a1a1a;
  }

  .spotify-card > div > h3,
  .spotify-card > div > p {
    font-size: 1em;
    color: #1a1a1a;
  }

  .spotify-card > div {
    width: 70%;
  }

  .menu > img {
    display: flex;
    padding-right: 1em;
  }

  .spotify-card {
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    height: auto;
  }

  .spotify-card > img {
    width: 70%;
  }
}
/* .menu {
  padding: 1em;
} */
